---
import HeaderLink from './HeaderLink.astro';
---

<header class="pt-6 pb-6 border-b-[1px] w-1/2 mx-auto">
	<!--
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
	</nav>
	 -->
	 <a href="/"><h1 class="text-white text-4xl text-center">Filip Ramstedt</h1></a>
	 <p class="text-white text-2xl font-thin text-center">I <a class="font-semibold" href="/projects">code</a> things and occationaly <a class="font-semibold" href="/posts">write</a> about it</p>
</header>
